body {
    text-align: left;
    background-color: darkgreen;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

h1 {
    font-size: 36px;
    margin: 20px;
    color: darkred;
}

#facts-section h2 {
    text-decoration: underline;
}

#quotes-section h2 {
    text-decoration: underline;
}

#links-section h2 {
    text-decoration: underline;
}

img {
    max-width: 400px;
    display: block;
    margin: auto;
}

#facts-section {
    margin: 20px;
    padding: 20px;
    background-color:darkseagreen;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,td {
    padding: 10px;
    text-align: center;
}

#quotes-section {
    margin: 20px;
    padding: 20px;
    background-color: darkseagreen;
}
#quotes-section blockquote {
    font-style: italic;
}

#links-section {
    margin: 20px;
    padding: 20px;
    background-color: darkseagreen;
}


footer {
    text-align: center;
    margin-top: 20px;
}


